HORCM_MON
localhost 54001  1000  3000

HORCM_CMD
\\.\IPCMD-{{ az_active_node_ip }}-{{ az_udp_port }}

HORCM_LDEV
DEMO  dev01   {{ az_cloud_storage_serial }} {{ svol_ldev_id }} 0

HORCM_INSTP
DEMO localhost   54000  {{ path_grp_id }} 

HORCM_ENC_MODE
CIPHER

HORCM_ENC_CIPHER
DHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-GCM-SHA256

HORCM_ENC_SERVER_AUTH
DISABLE

