HORCM_MON
localhost    54000          1000              3000

HORCM_CMD
\\.\IPCMD-{{ storage_controller_ip }}-31001

HORCM_LDEV
TCDEMO             dev01   {{ storage_serial }} {{ svol_ldev_id }} 0

HORCM_INSTP
TCDEMO localhost   54001   {{ az_path_grp_id }}

